torch
torchvision
git+https://github.com/openai/CLIP.git
jupyter
notebook
ipykernel
pillow
tqdm
requests
icrawler
ImageHash
fastapi
uvicorn
python-multipart
onnxruntime
numpy
pandas
scikit-learn
matplotlib

